.t {
  font-family: Verdana;
  font-size: 13;
  font-weight: bold;
  color: #514A3C;
}
.d {
  font-family: Verdana;
  font-size: 9;
  color: #514A3C;
}
.n {
  font-family: Verdana;
  font-size: 11;
  color: #514A3C;
}
.g {
  font-family: Verdana;
  font-size: 15;
  color: #514A3C;
}
